<h1><u>Iteración 1</u> : Bases de datos relacionales (SQL) </h1>

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\juan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\juan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

<h2>Ejercicio 1</h2>
<b><u>Instrucción</u></b> A partir de los documentos adjuntos (estructura y datos), crea una base de datos con MySQL. Muestra las principales características del esquema creado y explica las diferentes tablas y variables existentes.

<img src="DiagramamovieIT1.png">

Podemos observar las distintas tablas del esquema movie y las variables de cada tabla. Este esquema o base de datos es utilizado para almacenar información de una serie de personas involucradas en la producción de películas, los roles que tuvieron en las distintas películas y el genero de las mismas.
Para almacenar esta información se ocuparon 5 tablas; <b>tb_role, tb_genre, tb_move_person, tb_movie, tb_person.</b>
Para relacionar las tablas entre sí, se ocupan variables o claves tanto primarias como foraneas. 
tb_person contiene la clave principal person_id relacionada a la clave foranea person_id de la tabla tb_movie_person.
genre_id es la clave que relaciona las tablas tb_genre y tb_movie.
tb_role tiene como clave principal role_id relacionada con role_id de la tabla tb_movie_person.
tb_movie tiene como clave principal movie_id relacionada con movie_id de la tabla tb_movie_person.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="M1sqlserv5!_1",
  database="movies"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)
#mycursor = mydb.cursor()

#mycursor.execute("show DATABASES")

#for(x) in mycursor:
 # print(x)

('tb_genre',)
('tb_movie',)
('tb_movie_person',)
('tb_person',)
('tb_role',)

<h1>Ejercicio 2</h1>
<b><u>Instrucción</u></b> Tienes que obtener el nombre, el país y la fecha de nacimiento de aquellas personas por las que no conste una fecha de muerte y ordenar los datos de la persona más vieja a la persona más joven.

In [3]:
mycursor.execute("Select person_name as nombre, person_country as país, person_dob as fecha_nacimiento from movies.tb_person where person_dod is null order by person_dob;")

myresult = mycursor.fetchall()

for(x) in myresult:
    print(x)

('John Williams', 'United States', datetime.date(1928, 8, 8))
('Vera Miles', 'United States', datetime.date(1929, 8, 23))
('Sean Connery', 'Scotland', datetime.date(1930, 7, 8))
('Robert Duvall', 'United States', datetime.date(1931, 1, 5))
('Morgan Freeman', 'United States', datetime.date(1935, 10, 1))
('Francis Ford Coppola', 'United States', datetime.date(1939, 4, 7))
('Gary Kurtz', 'United States', datetime.date(1940, 7, 27))
('Martin Sheen', 'United States', datetime.date(1940, 8, 3))
('Harrison Ford', 'United States', datetime.date(1942, 7, 13))
('George Lucas', 'United States', datetime.date(1944, 5, 14))
('Carmine Coppola', 'United States', datetime.date(1945, 7, 8))
('Steven Spielberg', 'United States', datetime.date(1946, 12, 18))
('Tim Robbins', 'United States', datetime.date(1949, 6, 7))
('Mel Gibson', 'Australia', datetime.date(1950, 8, 9))
('Tom Hanks', 'United States', datetime.date(1956, 7, 9))
('Emilio Martinez Lazaro', 'Spain', datetime.date(1956, 9, 9))
('Karra Elejalde', 'Spain', datetime.date(1960, 3, 6))
('Emilio Estevez', 'United States', datetime.date(1962, 5, 12))
('Ramón Estevez', 'United States', datetime.date(1963, 8, 7))
('Carmen Machi', 'Spain', datetime.date(1964, 8, 9))
('Charlie Sheen', 'United States', datetime.date(1965, 9, 3))
('Reneé Estevez', 'United States', datetime.date(1967, 4, 2))
('Catherine Zeta-Jones', 'Wales', datetime.date(1969, 9, 25))
('Robert Alamo', 'Spain', datetime.date(1970, 5, 6))
('Daniel Sanchez Arevalo', 'Spain', datetime.date(1970, 6, 8))
('Quim Gutierrez', 'Spain', datetime.date(1981, 3, 27))
('Veronica Echegui', 'Spain', datetime.date(1983, 3, 14))
('Taylor Levi Estevez', 'United States', datetime.date(1984, 6, 22))
('Dani Rovira', 'Spain', datetime.date(1984, 7, 1))
('Paula Speert Sheen', 'United States', datetime.date(1986, 1, 6))
('Paloma Rae Estevez', 'United States', datetime.date(1986, 2, 15))
('Clara Lago', 'Spain', datetime.date(1986, 4, 17))
('Patrick Criado', 'Spain', datetime.date(1995, 9, 23))
('Paula Jones-Sheen', 'United States', datetime.date(2003, 7, 6))
('Sam Sheen', 'United States', datetime.date(2004, 3, 9))
('Lola Sheen', 'United States', datetime.date(2005, 6, 1))
('Bob Sheen', 'United States', datetime.date(2009, 5, 1))
('Max Sheen', 'United States', datetime.date(2009, 5, 1))

<h1>Ejercicio 3</h1>
<b><u>Instrucción</u></b> Tienes que obtener el nombre del género y el número total de películas de ese género y ordenarlo por orden descendente de número total de películas.

In [4]:
mycursor.execute("Select tb_genre.genre_name as Genero, count(tb_movie.movie_id) as Peliculas_por_genero from tb_movie left join tb_genre on tb_movie.movie_genre_id = tb_genre.genre_id group by movie_genre_id order by peliculas_por_genero desc")

myresult = mycursor.fetchall()

for(x) in myresult:
    print(x)

('Comedia', 3)
('Acción', 2)
('Ciencia Ficción', 2)
('Drama', 2)
('Romance', 2)
('Suspense', 2)
('Fantasía', 1)
('Terror', 1)
('Bélico', 1)

<h1>Ejercicio 4.1</h1>
<b><u>Instrucción</u></b> Tienes que obtener, para cada persona, su nombre y el número máximo de roles distintos que ha tenido en una misma película.

In [5]:
mycursor.execute("Select tb_person.person_name as Nombre, count(tb_movie_person.role_id) as Roles from tb_person Left join tb_movie_person on tb_person.person_id=tb_movie_person.person_id group by Nombre order by Roles desc")

myresult = mycursor.fetchall()

for(x) in myresult:
    print(x)

('Steven Spielberg', 5)
('Francis Ford Coppola', 3)
('Alfred Joseph Hitchcock', 3)
('Harrison Ford', 3)
('George Lucas', 3)
('Emilio Martinez Lazaro', 3)
('Carmen Machi', 2)
('Karra Elejalde', 2)
('Daniel Sanchez Arevalo', 2)
('Dani Rovira', 2)
('Clara Lago', 2)
('Mel Gibson', 2)
('Marlon Brando', 1)
('Robert Duvall', 1)
('Martin Sheen', 1)
('Gary Kurtz', 1)
('John Williams', 1)
('Tom Hanks', 1)
('Catherine Zeta-Jones', 1)
('Anthony Perkins', 1)
('Vera Miles', 1)
('Quim Gutierrez', 1)
('Robert Alamo', 1)
('Hector Colome', 1)
('Veronica Echegui', 1)
('Patrick Criado', 1)
('Carmine Coppola', 1)
('Morgan Freeman', 1)
('Tim Robbins', 1)
('Charlie Sheen', 1)
('Sean Connery', 0)
('Emilio Estevez', 0)
('Ramón Estevez', 0)
('Reneé Estevez', 0)
('Paula Speert Sheen', 0)
('Bob Sheen', 0)
('Max Sheen', 0)
('Sam Sheen', 0)
('Lola Sheen', 0)
('Paula Jones-Sheen', 0)
('Paloma Rae Estevez', 0)
('Taylor Levi Estevez', 0)

<h1>Ejercicio 4.2</h1>
<b><u>Instrucción</u></b> Posteriormente, muestra únicamente a aquellas personas que hayan asumido más de un rol en una misma película.

In [6]:
mycursor.execute("Select tb_person.person_name as Nombre, count(tb_movie_person.role_id) as Roles from tb_person Left join tb_movie_person on tb_person.person_id=tb_movie_person.person_id group by Nombre having Roles>1 order by Roles desc")

myresult = mycursor.fetchall()

for(x) in myresult:
    print(x)

('Steven Spielberg', 5)
('Francis Ford Coppola', 3)
('Harrison Ford', 3)
('George Lucas', 3)
('Alfred Joseph Hitchcock', 3)
('Emilio Martinez Lazaro', 3)
('Dani Rovira', 2)
('Clara Lago', 2)
('Carmen Machi', 2)
('Karra Elejalde', 2)
('Daniel Sanchez Arevalo', 2)
('Mel Gibson', 2)

<h1>Ejercicio 5</h1>
<b><u>Instrucción</u></b> Debes crear un nuevo género llamado "Documental" que tenga como identificador el número 69.

In [7]:
sql = "INSERT INTO movies.tb_genre (genre_id, genre_name) VALUES (%s, %s)"
val = (69, "Documental")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount,"record inserted.")

1 record inserted.

<h1>Ejercicio 6</h1>
<b><u>Instrucción</u></b> Elimina la película "La Gran Familia Española" de la base de datos.

<h1>Ejercicio 7</h1>
<b><u>Instrucción</u></b> Cambia el género de la película "Ocho apellidos catalanes" para que conste como comedia y no como romántica.